# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Challenge 3 Balloon.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\LuisI\OneDrive\Documentos\Unity\Challenge 3 Balloon\.idea\.idea.Challenge 3 Balloon\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
