# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Prototyping.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\LuisI\OneDrive\Documentos\Unity\Prototyping\.idea\.idea.Prototyping\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
