# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.Plane Control.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\LuisI\OneDrive\Documentos\Unity\Plane Control\.idea\.idea.Plane Control\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
